#editForm{
  position: fixed;
  display: none;

}

#category{
  position: fixed;
  top: 100px;
  left: 150px;
}

#editName{
  display: flex;
  position: fixed;
  top: 125px;
  left: 550px;
  background: #ff00;
  color: white;
  border-color: #ffff00;
  border-top: none;
  border-left: none;
  border-right: none;
}

#editForma{
  display: flex;
  margin-left: 275px;
  margin-top: 140px;
}

#editWordForm{
  margin-top: 20px;
}

#editForma input[type="text"]{
  margin-top: 50px;
}

.editWord{
  display: flex;
  position: fixed;
  background: #ff00;
  color: white;
  border-color: #ffff00;
  border-top: none;
  border-left: none;
  border-right: none;
}

#words{
  display: flex;
  left: 700px;
}
