#frame{
  border: 4px solid #ffff00;
  padding: .5rem;
  border-bottom-left-radius: 5em;
  border-bottom-right-radius: 5em;
  border-top-left-radius: 5em;
  border-top-right-radius: 5em;
  width: 800px;
  height: 500px;
  position: fixed;
  top: 45.8%;
  left: 50%;
  margin: -250px 0 0 -400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#frame::-webkit-scrollbar{
  width: 0px;
  background-color: #f9f9fd;
}
