#rulesForm{
  display: flex;
  align-items: center;
  flex-flow: column;
  /* display: none; */
}

.underLine{
  display: block;
  height: 100px;
}

#headRules{
  text-align: center;
  white-space: nowrap;
  color: white;
}

hr{
 border-width: 2px;
 background: #ffff00;
 border-color: #ffff00;
 width: 100%;
 position: absolute;
 left: 0;
}

#rulesAlias{

  word-wrap: break-word;
  color: white;
  text-align: left;
  font-size: 15px;
  margin-top: 3%;

}
.odd{
  font-size: 20px;
  font-weight: bold;
  display: block;
  padding-top: 30px;
}


#backToMenu{
  display: flex;
  position: absolute;
  top: 85%;
  left: 42%;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  border-radius: 50px 50px 50px 50px;
  width: 250px;
  font-size: 20px;
  background-color: #ffff00;
  color: #87CEFA;
  border: 2px solid #ffff00;
}

#backToMenu:hover{
  transition: 2s;
  transform: scale(1.2);
}


@media screen and (max-width: 399px) {
  #backToMenu{
    left: 16%;
  }

  #headRules{
    font-size: 1.3em;
  }
}
