#rulesForm{
  position: fixed;
  display: none;
}

#text{
  text-align: center;
  margin-top: -60px;
  margin-right: -350px;
}

#rulesAlias{
  color: white;
  margin-left: auto;
  font-size: 16px;
  margin-top: 100px;

}
.odd{
  font-size: 20px;
  font-weight: bold;
  display: block;
  padding-top: 30px;
}
#backToMenu{
  position: fixed;
  bottom: 11%;
  left: 42%;
  padding: 0 8px;
  border-radius: 50px 50px 50px 50px;
  width: 250px;
  font-size: 20px;
  background-color: #ffff00;
  color: #87CEFA;
  border: 2px solid #ffff00;
}

#backToMenu:hover{
  transition: 2s;
  transform: scale(1.2);
}
hr{
  border-width: 2px;
  background: #ffff00;
  border-color: #ffff00;
  size: 51px;
  position: relative;
  margin-left: -4px;
  margin-top: 3px;
  width: 805px;
}
