#footer{
  background-image: url(img/git.png);
  background-size: 30px;
  display: block; /* Рисунок как блочный элемент */
  width: 30px; /* Ширина рисунка в пикселах */
  height: 30px; /* Высота рисунка */
  margin-left: auto;
  margin-right: auto;
}

footer{
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
