
#wordLimit{
  display: flex;
  margin-top: 10%;
  margin-left: 43%;
  text-align: center;
  color: white;
}



#limitWord{
  display: flex;
  font-size: 22px;
  color: white;
  margin-left: 20%;

}

#resultWord{
  margin-left: 10px;

}

#rangeWord{
  display: flex;
  width: 200px;
  margin-left: 40%;
  margin-top: -40px;
}

#textTimeLimit{
  display: flex;
  margin-left: 43%;
  text-align: center;
  color: white;
  margin-top: 40px;
}

#resultTime{
  margin-left: 10px;
  margin-right: 3px;
}

#limitTime{
  display: flex;
  font-size: 22px;
  color: white;
  margin-left: 20%;
}

#rangeTime{
  display: flex;
  width: 200px;
  margin-left: 40%;
  margin-top: -40px;
}


@media screen and (max-width: 399px){

  #wordLimit{

    margin-top: 29%;
    margin-left: 31%;
  }

  #rangeWord{
    margin-left: 20%;
    margin-top: 0px;
  }

  #textTimeLimit{
    margin-left: 33%;
    margin-top: 80px;
  }

  #rangeTime{
    margin-left: 20%;
    margin-top: 0px;
  }



}
